<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
{include file='enduser/header.html'}

<body>
<div id="container">
    {include file='enduser/top.html'}

    <div class="wrapper">

        <div id="main">
            <div id="content">
                <div class="cart_details">
                    <table>
                        <tr class='column1'>
                            <td></td><td>Title</td><td>Quantity</td><td>Price</td><td>Subtotal</td>
                        </tr>
                        {foreach $items as $entry}
                        <tr {if $entry@iteration %2 eq 0}class='odd'{/if}>
                            <td>{counter}</td><td>{$entry.title} {$entry.variation}</td><td>{$entry.quantity}</td><td>{$entry.price}</td><td>{$entry.subtotal}</td>
                        </tr>
                        {/foreach}

                    </table>


                    <div class="cleaner">&nbsp;</div>


                </div>
                <!-- end .postcontent -->
            </div>
            <!-- end #content -->

        </div>
        <!-- end #main -->
        <div id="sidebar">


            <div class="cleaner">&nbsp;</div>
        </div>
        <!-- end #sidebar -->

    </div>
    <!-- end .wrapper -->
    {include file='enduser/bottom.html'}
</div>
<!-- end #container -->
</body>
</html>
