<div class="wrapper">

    <div id="content">

        <div style="color:#000000; font-size:20px">New Arrival</div>

        <ul class="posts">
            {foreach $productList as $entry}
            <li>
                <h2><a href="{$entry.productLink}"
                       title="{$entry.title_en}" target="_blank">{$entry.title_en|truncate:12:"..."}</a></h2>

                <div class="content">
                    <a href="{$entry.productLink}" rel="bookmark"
                       title="{$entry.title_en}" target="_blank"><img class="lazy"
                            data-href="{$entry.image_url}" src="{$ajax_loader}"
                            alt="{$entry.title_en}"/></a>
                    <p>Price: SGD{$entry.price}
                        <br/>Category: {$entry.category_name_en}
                    </p>

                    <div class="cleaner">&nbsp;</div>
                </div>
            </li>

            {/foreach}
        </ul>
    </div>
    <!-- end #content -->
</div>
<!-- end .wrapper -->
