<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
{include file='enduser/header.html'}

<body>
<div id="container">
    {include file='enduser/top.html'}

<div class="wrapper">

    <div id="main">
        <div id="content">
            <div class="product_main_details">
                <table>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <img id='main_preview_image' title="{$mainImage.description}" src="{$mainImage.image_url}" alt="" width="480" height="384"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {foreach $productImages as $entry}
                                            <img onClick="otherImageClick('{$entry.image_url}')" id='other_image' title="{$entry.description}" src="{$entry.image_url}" alt="" width="96" height="77"/>
                                        {/foreach}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <div class="product_main_title">
                                <p>{$product.title_en}</p>
                            </div>
                            <div class="product_description">
                                <p>{$product.description_en}</p>
                            </div>
                            <div class="product_price">
                                Price: SGD{$product.price}
                            </div>
                            <br/>
                            <script type="text/javascript">
                                function add2cart(){
                                    $.post("/user/add2cart", $("#add_to_cart"));
                                }
                            </script>

                            <form method="post" action="/user/add2Cart" id="add_to_cart">
                            <input type="hidden" name="product_id" value="{$product.id}">
                                <input type="hidden" name="product_id" value="{$product.id}">
                                <input type="hidden" name="product_link" value="{$product.product_link}">
                            {foreach $productVariation as $entry}
                                    {$entry.variation_type_en}:
                                        <select name="variation_{$entry.variation_type_en}">
                                            {foreach $entry.variation_value_en as $var}
                                                <option value="{$var}">{$var}</option>
                                            {/foreach}
                                        </select>
                            {/foreach}
                            <br/><br/>

                            Quantity: <input name="quantity" value="1">
                            <br/><br/>
                            <input class="add2cart" type="submit" onclick="add2cart()" value="Add to Cart">
                                <p id="message" style="color:red;">{if isset($message)}{$message}{/if}</p>
                                {literal}
                                <script type="text/javascript">
                                jQuery(document).ready(function ($) { $(function(){
                                    $('#message').animate({"top":"-=80px"},500) .delay(500) .animate({"opacity":"0"},100).delay(500);
                                    $('#message').animate({"opacity":"100"},100) .delay(500) .animate({"opacity":"0"},100).delay(500);
                                    $('#message').animate({"opacity":"100"},100) .delay(500) .animate({"opacity":"0"},100).delay(500);
                                    $('#message').animate({"opacity":"100"},100) .delay(3000) .animate({"opacity":"0"},1000);
                                }); });
                                </script>
                                {/literal}
                            </form>

                        </td>
                    </tr>
                </table>


                <div class="cleaner">&nbsp;</div>


            </div>
            <!-- end .postcontent -->


            <!-- You can start editing here. -->


            <!-- If comments are open, but there are no comments. -->
            <div id="commentspost">
                <!--<h2 class="title">0 Comments</h2>-->

                <!--<p>You can be the first one to leave a comment.</p>-->
            </div>


            <!--<div id="respond">-->
                <!--<h2 class="title">Leave a Comment</h2>-->

                <!--<div class="cleaner">&nbsp;</div>-->
                <!--<div class="cancel-comment-reply"><p><a rel="nofollow" id="cancel-comment-reply-link"-->
                                                        <!--href="/bottoms-l118.xhtml#respond" style="display:none;">Click-->
                    <!--here to cancel reply.</a></p></div>-->


                <!--<form action="http://lollipopsweet.com/wp-comments-post.php" method="post" id="commentform">-->

                    <!--<div id="formLabels">-->
                        <!--<div id="comment-user-details">-->
                            <!--<div id="alt-login-methods">-->
                                <!--<p>-->
                                    <!--&lt;!&ndash;<fb:login-button v="2" scope="email,user_website,publish_stream"&ndash;&gt;-->
                                                     <!--&lt;!&ndash;onlogin="sfc_update_user_details();">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<fb:intl>Connect with Facebook</fb:intl>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</fb:login-button>&ndash;&gt;-->
                                <!--</p>-->
                            <!--</div>-->
                            <!--<label for="author">Name (required):</label>-->
                            <!--<input type="text" name="author" id="author" value="" size="22" tabindex="1"-->
                                   <!--aria-required='true'/><br/>-->

                            <!--<label for="email">E-Mail (required):</label>-->
                            <!--<input type="text" name="email" id="email" value="" size="22" tabindex="2"-->
                                   <!--aria-required='true'/><br/>-->

                            <!--<label for="url">Website:</label>-->
                            <!--<input type="text" name="url" id="url" value="" size="22" tabindex="3"/><br/></div>-->
                    <!--</div>-->
                    <!--<div id="formContent">-->
                        <!--<label for="comment">Comment:</label>-->
                        <!--<textarea name="comment" id="comment" tabindex="4" cols="140" rows="8"></textarea><br/>-->
                        <!--<input name="submit" type="submit" id="submit" value="Add Comment"/>-->
                    <!--</div>-->
                    <!--<div class="cleaner">&nbsp;</div>-->
                    <!--<input type='hidden' name='comment_post_ID' value='7703' id='comment_post_ID'/>-->
                    <!--<input type='hidden' name='comment_parent' id='comment_parent' value='0'/>-->

                    <!--<p style="display: none;"><input type="hidden" id="akismet_comment_nonce"-->
                                                     <!--name="akismet_comment_nonce" value="3daf8c610f"/></p>-->

                    <!--<p id="sfc_comm_send"></p></form>-->
            <!--</div>-->


        </div>
        <!-- end #content -->

    </div>
    <!-- end #main -->
    <div id="sidebar">


        <div class="cleaner">&nbsp;</div>
    </div>
    <!-- end #sidebar -->

</div>
<!-- end .wrapper -->
    {include file='enduser/bottom.html'}
</div>
<!-- end #container -->
</body>
</html>
