
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>SMS Audio - Welcome</title>
	<meta name="description" content="SMS Audio">
	<meta name="author" content="SMS Audio">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="http://cdn.shopify.com/s/files/1/0100/2402/t/18/assets/style.css?12170" rel="stylesheet" type="text/css"  media="all"  />
    <link href="http://cdn.shopify.com/s/files/1/0100/2402/t/18/assets/thickbox.css?12170" rel="stylesheet" type="text/css"  media="all"  />
	<script src="http://cdn.shopify.com/s/files/1/0100/2402/t/18/assets/modernizr-2.0.6.min.js?12170" type="text/javascript"></script>
	<script src="http://cdn.shopify.com/s/files/1/0100/2402/t/18/assets/jquery-1.6.2.min.js?12170" type="text/javascript"></script>
    <script src="http://cdn.shopify.com/s/files/1/0100/2402/t/18/assets/jquery.jcarousel.min.js?12170" type="text/javascript"></script>
    <script src="http://cdn.shopify.com/s/files/1/0100/2402/t/18/assets/jquery.jtwitter.min.js?12170" type="text/javascript"></script>
    <script src="http://cdn.shopify.com/s/files/1/0100/2402/t/18/assets/jquery.rss.js?12170" type="text/javascript"></script>
    <script type="text/javascript">
        var tb_pathToImage = "http://cdn.shopify.com/s/files/1/0100/2402/t/18/assets/loadingAnimation.gif?12170";
    </script>
    <script src="http://cdn.shopify.com/s/files/1/0100/2402/t/18/assets/thickbox-compressed.js?12170" type="text/javascript"></script>
    <script src="http://cdn.shopify.com/s/files/1/0100/2402/t/18/assets/date.js?12170" type="text/javascript"></script>
    <script src="http://cdn.shopify.com/s/files/1/0100/2402/t/18/assets/script.js?12170" type="text/javascript"></script>

    <script type="text/javascript">      var Shopify = Shopify || {};
      Shopify.shop = "smsby50.myshopify.com";
    {literal}
      Shopify.theme = {"name":"SMSby50 Main","id":2037982};
    {/literal}
</script>

<script type="text/javascript">    //<![CDATA[
    (function() {
      function asyncLoad() {
        var urls = ["https://contactform.heroku.com/scripts/Contact%20SMS%20Audio/smsinfo/smsby50.com/contact/%230082c8/Left/contact_form.js?shop=smsby50.myshopify.com"];
        for (var i = 0; i < urls.length; i++) {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = urls[i];
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        }
      }
      window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
    })();
    //]]>
</script>
<script type="text/javascript">var __st={*"a":1002402,"offset":-18000,"u":"d5a4634d7e20"*};</script>
<script type="text/javascript">    //<![CDATA[
    (function() {
      function asyncLoad() {
        var urls = ["//stats.shopify.com/javascripts/shopify_stats.js?v=3"];
        for (var i = 0; i < urls.length; i++) {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = urls[i];
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        }
      }
      window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
    })();
    //]]>
</script>
<script type="text/javascript" src="http://www.google-analytics.com/ga.js"></script><script type="text/javascript" src="http://cdn.shopify.com/s/global/ga.js?69d09b53f99b998e8c1b337055a2045520b92563"></script><script type="text/javascript">var pageTracker = _gat._getTracker('UA-5014094-4');pageTracker._addDevId('o5cUG');pageTracker._setAllowLinker(true);pageTracker._setDomainName('none');pageTracker._trackPageview();</script>
<link rel="stylesheet" href="/global/theme-controls.css" type="text/css" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-389175-103']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <script>
        function createCookie(name,value,days) {
        if (days) {
            var date = new Date();
    	    date.setTime(date.getTime()+(days*24*60*60*1000));
		    var expires = "; expires="+date.toGMTString();
	    }
	    else var expires = "";
	    document.cookie = name+"="+value+expires+"; path=/";
        }

        function readCookie(name) {
	        var nameEQ = name + "=";
	        var ca = document.cookie.split(';');
	        for(var i=0;i < ca.length;i++) {
		        var c = ca[i];
	        	while (c.charAt(0)==' ') c = c.substring(1,c.length);
	        	if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        	}
        	return null;
        }
		if(readCookie('smsby50location') != null){
		   //cookie is set.  do nothing
		}
		else{
			createCookie('smsby50location','set',365);
            $.get('/pages/please-choose-your-location', function(data, response){
				$('<div/>').attr('id', 'splash').html(data).appendTo('body');
			});
		}
	 </script>
</head>
<body>
    <div id="splash"></div>
	<div id="container">
		<header>
			<h1 id="logo"><a href="http://www.smsby50.com" title="SMS Audio">SMS Audio</a></h1>
			<nav id="primary_nav">
	<ul class="topnav">
		<li id="nav_products">
            <a class="topbutton" href="#" title="Products">Products</a>
            <ul class="subnav">

                    <li><a href="/collections/wireless" title="Wireless">Wireless</a></li>

                    <li><a href="/collections/wired" title="Wired">Wired</a></li>

                    <li><a href="/collections/earbuds" title="Earbuds">Earbuds</a></li>

                    <li><a href="/collections/accessories" title="Accessories">Accessories</a></li>

            </ul>
        </li>
        <li id="nav_about">
            <a class="topbutton" href="#" title="About">About</a>
            <ul class="subnav">

                    <li><a href="/pages/overview" title="Overview">Overview</a></li>

                    <li><a href="/pages/contact-us" title="Contact">Contact</a></li>

                    <li><a href="/pages/features" title="Product Features">Product Features</a></li>

                    <li><a href="/pages/feeding-america" title="Feeding America">Feeding America</a></li>

            </ul>
        </li>
		<li id="nav_support">
            <a class="topbutton" href="#" title="support">Support</a>
            <ul class="subnav">

                    <li><a href="/pages/warranties" title="Warranties">Warranties</a></li>

                    <li><a href="/pages/manuals" title="Manuals">Manuals</a></li>

                    <li><a href="/pages/faq" title="FAQ">FAQ</a></li>

                    <li><a href="/pages/product-registration" title="Product Registration">Product Registration</a></li>

                    <li><a href="/pages/authorized-retailers" title="Authorized Retailers">Authorized Retailers</a></li>

                    <li><a href="/pages/international-distributors" title="International Distributors">International Distributors</a></li>

            </ul>
        </li>
		<li id="nav_plugin">
            <a class="topbutton" href="#" title="Plug In">Plug In</a>
            <ul class="subnav">

                    <li><a href="/pages/wallpapers" title="Wallpapers">Wallpapers</a></li>

                    <li><a href="/pages/sms-audio-image-gallery" title="Image Gallery">Image Gallery</a></li>

                    <li><a href="/pages/youtube" title="YouTube">YouTube</a></li>

                    <li><a href="/pages/social" title="Social">Social</a></li>

                    <li><a href="/pages/press-releases" title="Press Releases">Press Releases</a></li>

                    <li><a href="/blogs/news" title="Blog">Blog</a></li>

            </ul>
        </li>
	</ul>
</nav>
			<div id="cart">
				<h2>Shopping Cart</h2>
				<a href="http://www.smsby50.com/cart" title="Shopping Cart" id="cart_link">
					<span id="price">$0.00</span>
				</a>
			</div>
            <div id="customer">

            </div>
		</header>

            <div id="billboard">
                <nav id="product_nav_home">
                    <ul>
                        <li id="prod_wireless"><a href="http://www.smsby50.com/collections/wireless" title="wireless">wireless</a></li>
                		<li id="prod_wired"><a href="http://www.smsby50.com/collections/wired" title="wired">wired</a></li>
                		<li id="prod_earbuds"><a href="http://www.smsby50.com/collections/earbuds" title="earbuds">earbuds</a></li>
                		<li id="prod_accessories"><a href="http://www.smsby50.com/collections/accessories" title="accessories">accessories</a></li>
                	</ul>
                </nav>

<div id="slider">
    <div class="jcarousel-control">
        <a id="button1" href="" title="">1</a>
        <a id="button2" href="" title="">2</a>
        <a id="button3" href="" title="">3</a>
    </div>
    <ul>
        <li class="slide" id="slide_1">
            <div class="slide_text">
                <p></p>
             <p></p>

    		</div>
            <div id="slide_1_left"></div>
            <div id="slide_1_facebook"></div>
            <div id="slide_1_twitter"></div>
            <div class="control"></div>
            <a id="slide_1_facebook" href="http://www.facebook.com/smsaudio" TARGET="_blank"></a>
            <a id="slide_1_twitter" href="http://www.twitter.com/smsaudio" TARGET="_blank" ></a>
    	</li>
        <li class="slide" id="slide_3">
            <div class="slide_text">
        		<p></p>
        	<a href="/collections/earbuds" class="button" title="Shop Now">Shop Now</a>

                <p id="disclaimer"></p>
        	</div>
            <div class="control"></div>

            <div id="slide_3_left"></div>
            <div id="slide_3_right"></div>
            <div id="slide_3_top"></div>
        </li>
        <li class="slide" id="slide_2">
    		<div class="slide_text">
            <br>
            <br>
            <a href="pages/feeding-america.html" class="button" title="Discover">Discover</a>
    		</div>
            <div class="control"></div>
            <div id="slide_2_left"></div>
            <div id="slide_2_right"></div>
            <div id="slide_2_top_left"></div>
            <div id="slide_2_top_right"></div>
            <div id="slide_2top"></div>
            <a id="slide_2_wireless" href="http://www.smsby50.com/collections/wireless" title="Wireless Headphones"></a>
            <a id="slide_2_wired" href="http://www.smsby50.com/collections/wireless" title="Wireless Headphones"></a>
            <a id="slide_2_earbuds" href="http://www.smsby50.com/collections/wireless" title="Wireless Headphones"></a>
    	</li>
    </ul>
</div>
            </div>

		<div id="main" role="main">
			<div id="main_container">
				<div id="main_body">
	<div id="main_gutter">
		<div class="gutter_top"></div>
		<div class="gutter_body">
			<div id="product_list">

    	<div class="product_info" id="prod_1">
            <a href="/products/street-by-50-white" title="STREET by 50 - White" class="product_info_image">
                <img src="http://cdn.shopify.com/s/files/1/0100/2402/products/featured_1_white.jpg?12170" />
            </a>
            <div class="product_info_bottom">
                <a class="product_info_title" href="/products/street-by-50-white" title="STREET by 50 - White">STREET by 50 - White</a>
    	        <a class="product_info_price" href="/products/street-by-50-white" title="$249.95">$249.95</a>
    	        <a class="product_info_button" href="/products/street-by-50-white" title="Explore">Explore</a>
    	    </div>
    	</div>

    	<div class="product_info" id="prod_2">
            <a href="/products/street-wired-headphone-in-ear-black" title="STREET by 50 - Black" class="product_info_image">
                <img src="http://cdn.shopify.com/s/files/1/0100/2402/products/inEar.jpg?12170" />
            </a>
            <div class="product_info_bottom">
                <a class="product_info_title" href="/products/street-wired-headphone-in-ear-black" title="STREET by 50 - Black">STREET by 50 - Black</a>
    	        <a class="product_info_price" href="/products/street-wired-headphone-in-ear-black" title="$119.95">$119.95</a>
    	        <a class="product_info_button" href="/products/street-wired-headphone-in-ear-black" title="Explore">Explore</a>
    	    </div>
    	</div>

    	<div class="product_info" id="prod_3">
            <a href="/products/sync-wireless-headphone-over-ear-black" title="SYNC by 50 - Black" class="product_info_image">
                <img src="http://cdn.shopify.com/s/files/1/0100/2402/products/sync_black_6.jpg?12170" />
            </a>
            <div class="product_info_bottom">
                <a class="product_info_title" href="/products/sync-wireless-headphone-over-ear-black" title="SYNC by 50 - Black">SYNC by 50 - Black</a>
    	        <a class="product_info_price" href="/products/sync-wireless-headphone-over-ear-black" title="$399.95">$399.95</a>
    	        <a class="product_info_button" href="/products/sync-wireless-headphone-over-ear-black" title="Explore">Explore</a>
    	    </div>
    	</div>

</div>
			<div id="main_splitter"></div>
			<div id="bottom_content">
				<div class="bottom_text" id="bot_1">
					<h3><a href="http://www.smsby50.com/pages/social" title="Social Stream">Social Stream</a></h3>
					<div class="bottom_text_body">
						<ul class="stream" id="home_twitter_50">

</ul>

<ul class="stream" id="home_facebook_50">

</ul>
					</div>
				</div>
				<div class="bottom_text" id="bot_2">
					<h3><a href="http://www.smsby50.com/pages/social" title="Press Coverage">Press Coverage</a></h3>
					<div class="bottom_text_body">
						<ul class="stream" id="home_twitter_SMS">

</ul>

<ul class="stream" id="home_facebook_SMS">

</ul>
					</div>
				</div>
				<div class="bottom_text" id="bot_3">
					<h3><a href="http://www.smsby50.com/pages/social" title="Plug In">Plug In</a></h3>
					<div class="bottom_text_body">
						<p>Stay connected to <em>SMS Audio</em> on the web to receive special offers and updates.</p>
<div id="social_links">
	<a href="http://www.facebook.com/smsaudio" title="Facebook" id="facebook" target="_blank">Facebook</a>
	<a href="https://twitter.com/#!/smsaudio" title="Twitter" id="twitter" target="_blank">Twitter</a>
</div>
<div id="signature" title="50 Cent's Signature">
	<a href="http://www.thisis50.com/" title="50 Cent" target="_blank">50 Cent</a>
</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
                <footer>
    <nav id="footer_nav">
		<ul>
			<li class="footer_nav_menu" id="footer_nav_home">
				<ul>
					<li class="title_link"><a href="http://www.smsby50.com" title="Home">Home</a></li>
				</ul>
			</li>
			<li class="footer_nav_menu" id="footer_nav_products">
				<ul>
					<li class="title"><a href="#" title="Products">Products</a></li>

                        <li><a href="/collections/wireless" title="Wireless">Wireless</a></li>

                        <li><a href="/collections/wired" title="Wired">Wired</a></li>

                        <li><a href="/collections/earbuds" title="Earbuds">Earbuds</a></li>

                        <li><a href="/collections/accessories" title="Accessories">Accessories</a></li>

            	</ul>
			</li>
			<li class="footer_nav_menu" id="footer_nav_about">
				<ul>
					<li class="title"><a href="#" title="About">About</a></li>

                        <li><a href="/pages/overview" title="Overview">Overview</a></li>

                        <li><a href="/pages/contact-us" title="Contact">Contact</a></li>

                        <li><a href="/pages/features" title="Product Features">Product Features</a></li>

                        <li><a href="/pages/feeding-america" title="Feeding America">Feeding America</a></li>

				</ul>
			</li>
			<li class="footer_nav_menu" id="footer_nav_support">
				<ul>
					<li class="title"><a href="#" title="Support">Support</a></li>

                        <li><a href="/pages/warranties" title="Warranties">Warranties</a></li>

                        <li><a href="/pages/manuals" title="Manuals">Manuals</a></li>

                        <li><a href="/pages/faq" title="FAQ">FAQ</a></li>

                        <li><a href="/pages/product-registration" title="Product Registration">Product Registration</a></li>

                        <li><a href="/pages/authorized-retailers" title="Authorized Retailers">Authorized Retailers</a></li>

                        <li><a href="/pages/international-distributors" title="International Distributors">International Distributors</a></li>

				</ul>
			</li>
			<li class="footer_nav_menu" id="footer_nav_plugin">
				<ul>
					<li class="title"><a href="#" title="Plug In">Plug In</a></li>

                        <li><a href="/pages/wallpapers" title="Wallpapers">Wallpapers</a></li>

                        <li><a href="/pages/sms-audio-image-gallery" title="Image Gallery">Image Gallery</a></li>

                        <li><a href="/pages/youtube" title="YouTube">YouTube</a></li>

                        <li><a href="/pages/social" title="Social">Social</a></li>

                        <li><a href="/pages/press-releases" title="Press Releases">Press Releases</a></li>

                        <li><a href="/blogs/news" title="Blog">Blog</a></li>

				</ul>
			</li>
		</ul>
	</nav>
	<div id="footer_right">
		<div id="update_form_container">
			<h4>Receive event and product updates:</h4>
            <form id="update_form" action="http://konoaudio.us2.list-manage2.com/subscribe/post?u=d6e7b4cbadfefdca8e0c24836&amp;id=cabb380072" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <input type="email" value="" name="EMAIL" id="email" placeholder="Enter Your Email" required />
            	<input type="submit" value="Subscribe" name="subscribe" id="submit" />
            </form>
		</div>
		<div id="copyright">

                <span><a href="/pages/privacy-policy" title="Privacy Policy">Privacy Policy</a></span>

                <span><a href="/pages/terms-and-conditions" title="Terms & Conditions">Terms & Conditions</a></span>

                <span><a href="/pages/shipping-and-returns" title="Shipping & Returns">Shipping & Returns</a></span>

                <span><a href="http://www.konoaudio.com" title="KonoAudio">KonoAudio</a></span>

    	    <br />
            <span id="copyright_bottom">Copyright &copy; <em>2012 SMS Audio</em></span>
		</div>
	</div>
</footer>
			</div>
		</div>
	</div>
	<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
            {literal}
	{<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>}
    {/literal}
	<![endif]-->
</body>
</html>