<div class="wrapper">
    <a class="cart" href="{$BASEURL}user/showcart" >{if $cartCount}({$cartCount}){/if}</a>
    <div id="header">
        <div id="logo">
            <a href="{$BASEURL}"><img src="{$BASEURL}res/enduser/images/logo.png"
                                                             alt="Little Precious House"/></a>
        </div>
        <!-- end #logo -->
        <div id="menu" class="dropdown">
            <ul id="nav" class="dropdown">
                <li id="menu-item-69"
                    class="menu-item menu-item-type-custom menu-item-object-custom {if $menu==1}current-menu-item{/if} current_page_item menu-item-home menu-item-69">
                    <a href="{$BASEURL}">HOME</a></li>
                <li id="menu-item-7" class="menu-item menu-item-type-post_type {if $menu==2}current-menu-item{/if} menu-item-object-page menu-item-7"><a
                        href="{$BASEURL}user/showcart">ORDER</a></li>
                <li id="menu-item-70"
                    class="menu-item menu-item-type-taxonomy menu-item-object-category {if $menu==3}current-menu-item{/if} menu-item-1">
                    <a href="{$BASEURL}catalogue/category/1">CLOTHES</a>
                    <ul class="sub-menu">
                        <li id="menu-item-4"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-4"><a
                                href="{$BASEURL}catalogue/category/4">For Girls</a></li>
                        <li id="menu-item-5"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5"><a
                                href="{$BASEURL}catalogue/category/5">For Boys</a></li>
                        <li id="menu-item-6"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6"><a
                                href="{$BASEURL}catalogue/category/6">For All</a></li>
                    </ul>
                </li>
                <li id="menu-item-2"
                    class="menu-item menu-item-type-taxonomy menu-item-object-category {if $menu==4}current-menu-item{/if} menu-item-2">
                    <a href="{$BASEURL}catalogue/category/2">TOYS</a>
                </li>
                <li id="menu-item-3"
                    class="menu-item menu-item-type-taxonomy menu-item-object-category {if $menu==5}current-menu-item{/if} menu-item-3"><a
                        href="{$BASEURL}catalogue/category/3">OTHER</a></li>
            </ul>
        </div>

        <div class="cleaner">&nbsp;</div>
    </div>
    <!-- end #header -->
</div>

<!-- end .wrapper -->

