    <div class="sidebar">
    

        <!--<div class="sidebar_link"><a href='/manage/manufacturerOption'>Manufacturer</a></div>-->
        <!--{if isset($sidebar_manufacturer) && $sidebar_manufacturer}-->
            <!--<div class="sidebar_sublink"><a href='/manage/manufacturerOption/create'>Create</a></div>-->
            <!--<div class="sidebar_sublink"><a href='/manage/manufacturerOption/view'>View</a></div>-->
        <!--{/if}-->
        <!---->
        <!--<br/><div class="sidebar_link"><a href='/manage/suppliers'>Suppliers</a></div>-->
        <!--{if isset($sidebar_suppliers) && $sidebar_suppliers}-->
            <!--<div class="sidebar_sublink"><a href='/manage/suppliers/create'>Create</a></div>-->
            <!--<div class="sidebar_sublink"><a href='/manage/suppliers'>View</a></div>-->
        <!--{/if}-->
        <!---->
        <br/><div class="sidebar_link"><a href='/admin/product'>Product</a></div>
        {if isset($sidebar_product) && $sidebar_product}
            <div class="sidebar_sublink"><a href='/manage/productOption/create'>Create</a></div>
            <div class="sidebar_sublink"><a href='/manage/productOption/view'>View</a></div>
        {/if}
        <!--<br/><div class="sidebar_link"><a href='/manage/categoryOption'>Category</a></div>-->
        <!--{if isset($sidebar_category) && $sidebar_category}-->
            <!--<div class="sidebar_sublink"><a href='/manage/categoryOption/create'>Create</a></div>-->
            <!--<div class="sidebar_sublink"><a href='/manage/categoryOption/view'>View</a></div>-->
            <!--<div class="sidebar_sublink"><a href='/manage/categoryOption/manage'>Manage</a></div>-->
        <!--{/if}-->
       <!--<br/><div class="sidebar_link"><a href='/manage/promotions'>Promotions</a></div>-->
        <!--{if isset($sidebar_promotion) && $sidebar_promotion}-->
            <!--<div class="sidebar_sublink"><a href='/manage/promotions/new'>New Record</a></div>-->
            <!--<div class="sidebar_sublink"><a href='/manage/promotions/view'>View</a></div>-->
        <!--{/if}-->
        <!--<br/><div class="sidebar_link"><a href='/manage/customer'>Customers</a></div>-->
        <!--{if isset($sidebar_customer) && $sidebar_customer}-->
            <!--<div class="sidebar_sublink"><a href='/manage/customer'>View</a></div>-->
        <!--{/if}-->

        <!--<br/><div class="sidebar_link"><a href='/manage/stock'>Stock</a></div>-->
        <!--{if isset($sidebar_stock) && $sidebar_stock}-->
            <!--<div class="sidebar_sublink"><a href='/manage/stock/new/1'>New Incoming Record</a></div>-->
            <!--<div class="sidebar_sublink"><a href='/manage/stock/new/2'>New Outgoing Record</a></div>-->
            <!--<div class="sidebar_sublink"><a href='/manage/stock/view'>View</a></div>-->
        <!--{/if}-->
        <!--<br/><div class="sidebar_link"><a href='/manage/config'>Config</a></div>-->
        <!--<br/><div class="sidebar_link"><a href='/manage/announcement'>Announcement</a></div>-->
    </div>
